<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="moneytransfer.miracle.com.shweoh">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/shweoah4"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".SplashScreen" />
        <activity
            android:name=".InstructorProfile"
            android:theme="@style/AppTheme" />
        <activity android:name=".CourseDetail"></activity>
    </application>

</manifest>